.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  position: relative;
}

.logo {
  height: 5rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #133e96;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #8daceb;
}

.main-nav-link.resume:link,
.main-nav-link.resume:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  border: 2px solid #133e96;
  color: #133e96;
  cursor: pointer;
}

.main-nav-link.resume:hover,
.main-nav-link.resume:active {
  background-color: #e8eefb;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 9999;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #133e96;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.97);

  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.section-hero {
  width: 130rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  align-items: center;
  justify-items: center;

  /* position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%); */
}

.hero {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 60fr 40fr;
  max-width: 130rem;
  gap: 9.6rem;
  align-content: center;
  justify-items: center;
}

.heading-intro {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #555;
}

.heading-name,
.heading-job {
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.5px;
}

.heading-name {
  font-size: 8.6rem;
  color: #17387c;
  margin-bottom: 1.8rem;
}

.heading-job {
  font-size: 3.95rem;
  color: #1b59d6;
  margin-bottom: 3.2rem;
}

.job-description {
  font-weight: 400;
  font-size: 2.4rem;
  color: #555;
  border-top: 2px solid #17387c;
  padding-top: 3.2rem;
  letter-spacing: 1.5px;
  margin-bottom: 3.2rem;
}

.hero-img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.hero-img {
  width: 100%;
}

.hero-img-text {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.about-description {
  font-size: 2.3rem;
  letter-spacing: 1.1px;
}

.description-image p {
  margin-bottom: 2rem;
}

.description-image {
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 4rem;
}

.section-img {
  position: relative;
  display: flex;

  /* align-items: flex-start;
  justify-content: flex-start; */
}

.author-img {
  width: 25rem;
  height: 25rem;
}

/* .section-img::before {
  content: "";
  display: block;
  position: absolute;

  width: 25rem;
  height: 25rem;
  background-color: rgb(23, 56, 124, 0.15);

  z-index: 1;
} */

.section-img::after {
  content: "";
  display: block;
  position: absolute;

  width: 25rem;
  height: 25rem;
  border: 2px solid #17387c;
  margin-top: 15px;
  margin-left: 15px;

  z-index: -1;
}

.expertise-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3.2rem;
  padding: 1.6rem;
  align-items: center;
  justify-content: center;
}

.expertise-gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.expertise-gallery-item img:hover {
  transform: scale(1.1);
}

.contact-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.contact-icon {
  display: block;
  height: 3.2rem;
  width: 3.2rem;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #17387c;
  font-size: 2.4rem;
  font-weight: 500;

  transition: all 0.3s;
}

.contact-link:hover,
.contact-link:active {
  color: #8daceb;
}

.contact-description-text {
  font-weight: 400;
  margin-bottom: 2.4rem;
  align-self: center;
  font-size: 2rem;
  letter-spacing: 1.1px;
}

.footer {
  text-align: center;
  font-weight: 100;
  font-size: 1.4rem;
  padding: 2.4rem 0;
  border-top: 0.3px solid #17387c;
  margin-top: 10rem;
}
